.from-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register-from {
    border: 1px solid rgb(15, 15, 15);
    padding: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}